body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #72AFE3;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.table-container {
  width: 100vw;
  overflow-x: auto;
}

.table {
  width: 90vw;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.first-row {
  background-color: #05000f;
}

button {
  text-transform: uppercase;
  font-size: 0.7rem;
}

.title {
  font-family: "Fredoka One", cursive;
  font-size: 4rem;
  margin-top: 2.1rem;
  display: flex;
  justify-content: center;
}

.App {
  text-align: center;
  background-color: #194e9f;
}

ul {
  list-style-type: none;
  padding: 0;
}

thead,
tbody {
  text-align: center;
}

.name-of-page {
  font-family: "Varela Round", sans-serif;
  margin: auto;
  font-size: 1.9rem;
  display: flex;
  justify-content: center;
  margin-bottom:1.1rem
}

button:hover {
  box-shadow: -1px 1px 20px 8px rgba(18, 21, 181, 0.6);
  outline-color: #90948f;
  border-bottom: 0;
}

.border-button {
  box-shadow: -1px 1px 20px 8px rgba(18, 21, 181, 0.6);
  outline-color: transparent;
  border-bottom: 0;
}

.button-add {
  margin-left: 80vw;
}

.forms {
  padding: 4rem;
  padding-bottom: 0;
}

.info {
  font-family: "Cairo", sans-serif;
  font-size: 0.8rem;
  font-weight: bold;
}

.button-cointainer {
  display: flex;
  justify-content: center;
}

.accept-button {
  width: 50%;
  margin: auto;
}

.cancel-button {
  background-color: #212529;
  border: black;

}
.cancel-button:hover{
  background-color: rgb(0, 0, 0);
  box-shadow: -1px 1px 20px 8px rgba(8, 10, 18,.6);
  outline-color: #90948f;
  border-bottom: 0;
}

.info-empty-list{
  width: 90vw;
  margin: auto;
}
.delete-button{
  background-color: #DB4848;
  border: #E52E2E;
}

.delete-button:hover{
  background-color: #E52E2E;
  box-shadow: -1px 1px 20px 8px rgba(221, 54, 54,0.6);
  outline-color: #90948f;
  border-bottom: 0;
}
.delete-button:not(:disabled):not(.disabled):active:focus{
  background-color: #E52E2E;
  box-shadow: -1px 1px 20px 8px rgba(221, 54, 54,0.6);
}
.delete-button:focus{
  background-color: #E52E2E;
  border-color: darkred;
  box-shadow: -1px 1px 20px 8px rgba(221, 54, 54,0.6);
}

.cancel-button-form{
  margin-top: 1rem;
  margin-left: 80vw;
  margin-bottom: 3rem;
}
.table td{
  vertical-align:middle
}

@media(orientation:portrait) and (max-width:650px){
  .button-add {
    margin-left: 60vw;  
  }
}